/** {
    font-family:"微软雅黑";
}*/

QLineEdit{
    border:1px  solid #EA8852;
    font-size:12px;
    color: rgb(102, 102, 102);
    padding-left:12px;
}
QComboBox
{
	position:absolute;
	background:rgb(255, 255, 255);
	border:1px  solid #EA8852;
	width:9px;
	height:8px;
	border-radius: 1px;
	font-size:12px;
    color: rgb(51, 51, 51);
}
QComboBox:editable {
     background: rgb(255, 255, 255);
}
QComboBox:!editable, QComboBox::drop-down:editable {
      background: rgb(246, 246, 246);
}
/* QComboBox gets the "on" state when the popup is open */
QComboBox:!editable:on, QComboBox::drop-down:editable:on {
     background: rgb(255, 255, 255);
}
QComboBox QAbstractItemView
{	
	min-height: 35px;
	border:1px  solid #EA8852;
	padding:0px;
    margin:0px;
	color:rgb(102, 102, 102);
}

QComboBox QAbstractItemView::item
{	
    position: absolute; 
	min-height: 33px;
	font-size:12px;
}
QComboBox::drop-down
{
	subcontrol-origin:padding;
	subcontrol-position:top right;
	border-right-width:1px;
	border-color:rgb(255, 255, 255);
}
QComboBox::down-arrow:pressed {
       position: absolute;
} 
QComboBox::down-arrow
{
	image: url(:/kPosSetImage/dropDownArrow.png);
}
